<!DOCTYPE html>

<html ng-app="monsterBuilder" ng-controller="monsterController">
<head>
	<title>5e Monster Builder</title>
	
	<link rel="stylesheet" href="css/styles.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body>

<article class="monster-block">
	<header>
		<h2>{{monster.name}}</h2>
		<p>{{monster.size}} {{monster.type}}<span ng-if="monster.tags"> ({{monster.tags}})</span>,
		{{monster.alignment}}</p>
	</header>
	<hr>
</article>


<main>
	<form id="categories">
		<label>Name: <input type="text" ng-model="monster.name"></label>
		<label><input type="checkbox" ng-model="monster.nameIsProper"> is proper name</label> 
		<br>
		<label>Size: <select 
				ng-model="monster.size" 
				ng-options="size for size in SIZES"
				ng-init="monster.size='Medium'">
		</select></label><br>
		<label>Type: <select 
				ng-model="monster.type"
				ng-options="type for type in TYPES"
				ng-init="monster.type='humanoid'">
		</select></label><br>
		<label>Tags: <input list="monster-tags" 
				ng-model="monster.tags">
			<datalist id="monster-tags">
				<option ng-repeat="tag in TAGS">{{tag}}</option>
			</datalist>
		</label><br>
		<label>Alignment: <select 
				ng-model="monster.alignment"
				ng-options="alignment for alignment in ALIGNMENTS"
				ng-init="monster.alignment='unaligned'">
		</select>
		</label>
	</form>
	
	<form id="abilities">
		<div ng-repeat="ability in ABILITIES">
			<label>{{ability.name}} 
			<input type="number" min="1" max="30" ng-model="ability.score"></label>
			<output ng-model="ability.mod">{{getAbilityMod(ability.score)}}</output>
		</div>
	</form>
</main>
</body>
</html>